<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Just a perfect night - About us</title>
        
        <!--Poppins font-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        
        <!-- my css file-->
        <link rel ="stylesheet" href = "css_about_us.css">
       
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!--My script-->
        <script src="about_us.js"></script>

</head>
<body>


  <nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="Home.html">JustAPerfectNight</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a href="Home.html">Home</a></li>
        <li class=active><a href="About_us.html">About us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="Sign_up.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="Sign_in.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
    
    <div id="e_background">
      <div id="e_smallstars"></div>
      <div id="e_moon"></div>

    </div>

   

    

    <section class="login-block">
            
      <div class="container" id= "about_us_container">
        <div class="row">
          <div class="col-md-6 login-sec">
            <p id= "about_us_msg">
              <b>About us:</b>
            <p id="about_us_desc">
                JustAPerfectNight is a not-yet founded amazing company worth tons of billions created by 
                a group of not-yet graduated, brilliant computer engineers, whose names will remain 
                anonymous, because of not-yet determined reasons.
                <br>
                <br>
                <span class="glyphicon glyphicon-star" id="star1"> </span>
                
                
                <span class="glyphicon glyphicon-star"> </span>
                
                <span class="glyphicon glyphicon-star"></span>
                
                <br>
                <br>
                The whole story of this awesome project, with all its unpredictable non-existing ups and 
                downs, has been told many times, in books that haven't been published and movies which haven't
                 been shown.
                 <br>
                 <br>
                 <span class="glyphicon glyphicon-star" id="star2"> </span>
                
                
                <span class="glyphicon glyphicon-star"> </span>
                
                <span class="glyphicon glyphicon-star"> </span>
                
                 <br>
                 <br>
                 Feel free to support us and follow us in any manner you see appropriate, like taking this experience 
                 with you forever or by always having a kind memory of this project.
            </p>
          </p>
  
       
          </div>
          
            
          <div class="col-md-6 banner-sec">
            
          </div>   
        </div>
        
      </div>
   
  </section>

</body>
</html>
