<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Just a perfect night - Add Cocktail</title>

    <!--Poppins font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <!-- font-awesome icon set (fa fa-search) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- my css file-->
    <link rel="stylesheet" href="css_add_cocktail.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--My script-->
    <script src="addCocktail.js"></script>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-inverse" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="Home_login.html">JustAPerfectNight</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <!-- using the DOM history and go method to link the Go Back list item to the previous page visited -->
            <a href="javascript:history.go(-1)">Go back</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--end navbar-->

    <!-- container backgroud moon -->
    <div id="e_background">
        <div id="e_smallstars"></div>
        <div id="e_moon"></div>
    </div>

    <!-- creating section for search (formatting purpose) -->
    <section class="create-block">
      <!-- creating container #main to wrap all the elements -->
      <div class="container" id="main">
        <!-- title -->
        <h1>
          Cocktails
          <p id="header">
            You can either choose your favourite cocktail if you already know
            what you want or you can browse them and find the perfect one!
          </p>
        </h1>

        <!-- creating a left column to contain the search elements  -->
        <div class="col-xs-6" id="left-column">
          <h2>
            Search by Name:
          </h2>
          <!-- each search-container contains different levels/methods of searching -->
          <div class="search-container">
            <!-- new row -->
            <div class="row">
              <!-- small column inside the row to contain input element for alignment purpose -->
              <div class="col-25" name="sx">
                <input type="text" placeholder="Search.." id="search_cocktail_name"/>
              </div>
              <!-- small column inside the row to contain button element for alignment purpose -->
              <div class="col-25" name="dx">
                <!-- the onclick event occurs when the user clicks on the button -->
                <button class="search-btn" type="button" onclick="SearchByName()">
                  <!-- icon of search (from font-awesome) -->
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- end row -->
            <!-- hide paragraph for control message in case of error -->
            <p id="search_cocktail_name_msg"></p>
          </div>
          <!-- end search-container -->

          <!-- horizontal line to divide different levels of searching -->
          <hr/>

          <h3>
            Find the perfect one:
            <p id="header_radio">
              Do you want to search your cocktail by:
            </p>
          </h3>

          <!-- new search-container for Advanced Search -->
          <div class="search-container">
            <!-- creating radio button buttons -->

            <!-- first radio button: ingredients -->
            <input type="radio" id="ingredients" name="ingredients_alcohol_grade" value="ingredients"/>
            <!-- label for radio button ingredients -->
            <label for="ingredients"> your ingredient</label><br />

            <!-- second radio button: category -->
            <input type="radio" id="category" name="ingredients_alcohol_grade" value="category"/>
            <!-- label for radio button category -->
            <label for="category"> category </label><br />

            <!-- new row -->
            <div class="row">
              <div class="col-25" name="sx">
                <!-- input to type or a category or ingredients -->
                <input type="text" placeholder="Search.." id="search_cocktail_radio" />
              </div>
              <div class="col-25" name="dx">
                <button class="search-btn" type="button" onclick="RadioCocktail()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- end row -->

            <!-- this row contain small text to advise the user of available categories  -->
            <div class="row">
              <small>
                AVAILABLE CATEGORIES: “Ordinary Drink”, “Cocktail”, “Shot”,
                “Homemade Liqueur”, “Beer”
              </small>
            </div>

            <!-- this row contain a paragraph for control message in case of error -->
            <div class="row">
              <p id="search_cocktail_radio_msg"></p>
            </div>
          </div>
          <!-- end search container -->

          <!-- menu-container contains the dynamic menu and Random button -->
          <div class="menu-container">
            <!-- this row contains the dynamic menu -->
            <div class="row">
              <!-- select element is used to create a drop-down list -->
              <select size="1" id="menu_cocktail" 
                onmousedown="this.size=5;"
                onchange="this.size=0;"
                onblur="this.size=0;">
                <!-- empty default option: valid options will be added dynamically -->
                <option selected value=""> Choose your cocktail :) </option>
              </select>
            </div>
            <!-- this row contains the random button -->
            <div class="row">
              <button class="button button1" id="surprise" onclick="RandomCocktail();">
                <span>Short of ideas? Click me!</span>
              </button>
            </div>
          </div>
          <!-- end menu-container -->

          <p id="select-p">
            Press the button below if you have found the right one!
          </p>
          <!-- select choosen element button -->
          <button class="button" id="select-btn" onclick="SelectCocktail();">
            <span>Select</span>
          </button>
        </div>
        <!-- end left column -->

        <!-- creating dynamic right column: this will show info about the selected element -->
        <div class="col-xs-6" id="right-column">
          <!-- image of the element -->
          <img src="cocktail.jpg" alt="Cocktail" id="photo_cocktail" />
          <!-- creating left image container to write dynamic info -->
          <div class="container" id="info">
            <h4>Info:</h4>
            <!-- description list to list some info -->
            <dl id="description_list"></dl>
          </div>
          <!-- end left image container  -->

          <!-- creating container below image to add other dynamic info -->
          <div class="container" id="recipe_container">
            <h4>Recipe:</h4>
            <p id="recipe">Here the recipe of the cocktail.</p>
          </div>

          <!--  this button will add the choosen element to the night -->
          <input type="button" class="select-btn" id="add-btn" value="Add my perfect cocktail"
            onclick="addCocktail();"/>
        </div>
        <!-- end right column -->
      </div>
      <!-- end #main container -->
    </section>
    <!-- end section -->
  </body>
</html>
