<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Just a perfect night - Add Game</title>
        
        <!--Poppins font-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- icon of setting -->
       
        <!-- my css file-->
        <link rel ="stylesheet" href = "css_add_game.css">
       
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
        
        <!--My script-->
        <script src="addGame.js"></script>
    </head>
    <body>      
        <!--navbar-->
        <nav class="navbar navbar-inverse" id="navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">JustAPerfectNight</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:history.go(-1)">Go back</a></li>
              </ul>
            </div>
        </nav>
        <!--end navbar-->
        <h1>
            Games
            <p id="header">
                You can either choose your favourite game if you already know what you want or you can
                browse them and find the perfect one!
            </p>
        </h1>

        <div class="container">
            <!-- left column -->
            <div class="col-xs-6" id="left-column">
                <!-- search by name -->
                <h2>
                    Search by Name:
                </h2>

                <div class="search-container">
                        <div class="row">
                            <div class="col-25" name="sx">
                                <input type="text" placeholder="Search.." id="search_game_name">
                            </div>
                            <div class="col-25" name="dx">
        
                                <button class="search-btn" type="button" onclick="SearchByName();"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <p id="search_game_name_msg"></p>
                        
                </div>
                <!-- end search by name -->
                <hr>
                <!-- advanced search -->
                <h3>
                    Advanced search:
                </h3>
                <p id="p_advanced_search">
                    Find the perfect one:
                </p>
                <div class="search-container">
                    <!-- play time  -->
                    <div class="row">
                        <label for="play_time"> Play time (min): </label>
                        <input type="number" placeholder="Type here!" id="play_time"> <br/>
                        <p id="play_time_msg"></p>
                    </div>  
                    <!-- players number -->
                    <div class="row">
                        <label for="players_num"> Players number: </label>
                        <input type="number" placeholder="Type here!" id="players_num"> <br/>
                        <p id="players_num_msg"></p>
                    </div> 
                    <!-- button advanced search --> 
                    <div class="row">
                        <button class="button" id="filters_button" onclick="AdvancedSearch();"><span>Search with filters <i class="fa fa-search"></i></span></button>
                    </div>  
                    <div class="row">
                        <p id="filters_msg"></p>
                    </div>                
                </div>
                <!-- end advanced search -->

                <!-- menu game -->
                <div class="menu-container">
                    <div class="row" >
                        <select size=1 id="menu_game" onmousedown="this.size=5;" onchange='this.size=0;' onblur="this.size=0;"> 
                            <option selected value=""> Choose your game :) </option>
                        </select>                        
                    </div>
                    <div class="row">
                        <button class="button button1" id="surprise" onclick="RandomGame();"><span>Short of ideas? Click me!</span></button>
                    </div>
                </div>
                <!-- end menu game -->
                <p id="select-p">
                    Press the button below if you have found the right one!
                </p>
                <button class="button" id="select-btn" onclick="SelectGame();"><span>Select</span></button>
            </div>
            <!-- end left column -->

            <!-- right column -->
            <div class="col-xs-6" id="right-column">
                <img src="game.jpg" alt="Game" id="photo_game" > 
                <div class="container" id="info">                    
                    <h4> Info:</h4>
                    <dl id="description_list"> </dl> 
                </div>

                <div class="container" id="game_container">  
                    <!--h4> Ingredients:</h4>
                    <p id="ingredients"> Here the ingredients of the game.</p-->               
                    <h4> Characteristics:</h4>
                    <dl id="characteristics"></dl> 
                    <h4> Description:</h4>
                    <p id="description"> Here the description of the game.</p> 
                </div>

                <input type="button" class="select-btn" id="add-btn" value="Add my perfect game" onclick="addGame();">
            </div>
            <!-- right column -->
            
        </div>
    </body>
</html>