.my_a{
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;
  color: #424254;
}  
  
body{ 
  background-color: #424254;
  font-family: 'Poppins', sans-serif;
}
#navbar{
  background-color: #424254;
  border-color: #424254 ;
  font-size: large;
  /*margin-bottom: 0;
  border-radius: 0;*/
}
#my_button{
  margin-top: 5px;
  background-color: black;
  color: white;
  border: none;
  font-size: large;
  font-family: 'Poppins';
}
  
.card{
  
  background-size: contain;
  background-position: center;	
  min-height: 280px;
  min-width:300px;
  height: 280px;
  
  width: 300px;
  border-radius: 30px;  

  margin: auto;
  /*border: 3px solid green;*/
}

.card h1{
  text-align: center;
  font-size: 38;
  padding: 40% 0;
  color: #fff;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 5px 0 black, 0 -1px black;
}

.card a{
  text-decoration: none;
}

#cocktail_card{
    background-image: url("cocktail.jpg");
}
/*#cocktail_card{
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("cocktail.jpg");
  opacity: .5;
} */

#game_card{
  background-image:url(game.jpg) ;
}  
#movie_card{
  background-image:url(ciak.jpg) ;
}  
#beer_card{
  background-image:url(beer.jpg) ;
}  
#recipe_card{
  background-image:url(recipe.jpg) ;
}  
#music_card{
  background-image:url(music.jpg) ;
}  


.col-sm-4{
  margin-top: 10px;
  min-width: 350px;
  height: auto;
}

#deck{
  /*margin-top: -1%;
  height: 90%;
  width : 90%;*/

  margin: auto;
  width: 90%;
  /*border: 3px solid green;*/
  padding: 30px;
    
}

/***351330*/

.button {
    border-radius: 20px;
    background-color: #F2E8C4;
    border: none;
    color: #424254;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top:70px;
    outline: none;
}

.button1 {
    background-color: #F2E8C4; 
    color: #424254; 
    border: 2px solid #F2E8C4;
    margin-bottom: 30px;
    
    float: left;
}
  
.button1:hover {
    background-color: #424254;
    color: white;
}
  
.button2 {
    background-color: #F2E8C4; 
    color: #424254; 
    border: 2px solid #F2E8C4;
    margin-bottom: 30px;
    
    float: right;
}
  
.button2:hover {
    background-color: #424254;
    color: white;
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:active {
    opacity: 1;
    background: #E8CAA4;
    color: #424254;
    transition: 0s;
}

.container{
    text-align: center;
    color: #F2E8C4;
}
.container p{
    font-size: large;
}