
.banner-sec{
background-image:url(https://media.giphy.com/media/l0ErBTXlQuex3T6NO/giphy.gif) ;
background-position: center; 
/*background-size:cover; */
background-repeat: no-repeat;
min-height:500px;
border-radius: 0 10px 10px 0;
padding:10px;
margin-top: 150px;
}

#surname,#name, #email, #password, #password2, #username, #google_p{
color: black;
opacity:1;
}


#passwordHelpBlock{
color: white;
opacity:1;
font-size: small;
}


body{ 
  background-color: #424254;
  font-family: 'Poppins', sans-serif;
}

#navbar{
  background-color: #424254;
  border-color: #424254 ;
  font-size: x-large;
}

.login-block{
padding : 50px 0;
margin-left: auto;
}

input{
  color: black;
}

.container{

background-image: linear-gradient( #424254, #40408b );
border-radius: 10px;
} 


hr {
  border-top: 1px solid rgb(153, 153, 153);
}

.login-sec{
padding: 10px 30px; /* top-bottom & left-right*/
position:left;
color: rgb(153, 153, 153);
}

.login-sec h3{
text-shadow: 1.2px 1.2px white;
margin-bottom:30px; 
font-weight:800; 
font-size:xx-large;
color: rgb(153, 153, 153) ;}

.login-sec h3:after{
content:" ";
width:100px;
height:5px;
background:rgb(153, 153, 153);
display:block; 
margin-top:20px; 
border-radius:3px;
margin-left:auto;
margin-right:auto}

.btn-login{
  border-radius: 10px;
  background-color: rgb(153, 153, 153);
  width: 180px;
  border: none;
  color: #424254;
  text-align: center;
  font-weight:600;
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  outline-color:#424254;
}

.btn-login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  outline-color:#424254;
}

.btn-login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  outline-color:#424254;
  color: white;
}

.btn-login:hover span {
  padding-right: 25px;
  outline-color:#424254;
  color: white;
 
}

.btn-login:hover span:after {
  opacity: 1;
  right: 0;
  outline-color:#424254;
  color: white;
}

.btn-login:disabled {
  
  border: 2px solid rgb(153, 153, 153);
  opacity: 30%;
  cursor: not-allowed;
  background-color: rgb(153, 153, 153);
  
  color: #424254;
}

.btn-login:disabled span {
  cursor: not-allowed;
}
.btn-login:disabled span:after {
  content: '';
}

.btn-login:hover:disabled span {
  padding-right: 0px;
}

#password, #username{
color: black;
opacity:1;
font-weight: bold;
}

#google_p{
  font-size: large;
   color: rgb(153, 153, 153);
}

#google{
  border:none;
  background-image: url("btn_google_dark_normal_ios.jpg");
  background-size: 40px;
  height: 40px;
  width: 220px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: white;
  color:black;

}
#google_span{
  font-family: 'Roboto', sans-serif;
  color:black;
  opacity: 1;
 
  
}

/*Background animation */

body{position:relative}
#e_background{
  background:#000 url(sky.jpg) repeat 5% 5%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-100;
  -webkit-animation:stars-anim 600s infinite linear;
  -moz-animation:stars-anim 600s infinite linear;
  -o-animation:stars-anim 600s infinite linear;
  animation:stars-anim 600s infinite linear}

    #e_moon{
      background:url(e_moon.png) no-repeat 35% 35%;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:1;z-index:-25;
      -webkit-animation:moon-anim 100s infinite linear;
      -moz-animation:moon-anim 100s infinite linear;
      -o-animation:moon-anim 100s infinite linear;
      animation:moon-anim 100s infinite linear}
      
      @media only screen and (max-width:480px){
        #e_moon{background:url(e_moon.png) no-repeat 35% 35%}}
        
        @media only screen and (min-width:481px) and (max-width:767px){
          #e_moon{background:url(e_moon.png) no-repeat 35% 35%}
        }

        @-webkit-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-moz-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-o-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-webkit-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-moz-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-o-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-webkit-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-moz-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-o-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}