#my_a2, .my_a, .my_link{
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;
  color: #424254;
}
#my_a2{
  color: #9999A3;
}
.upvotedAndSaved, .upvotedAndSaved:hover{
  color: green;
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;

}
.my_link{
  cursor: pointer;
  margin-right: 10px;
}


.well{
  background-color: #F2E8C4;

}

#username_here{
  font-family: 'Poppins';
  color: #F2E8C4;
  font-size: 40px;
}
body{ 
  background-color: #424254;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(#424254,#351330);
}
#navbar{
  background-color: #424254;
  border-color: #424254 ;
  font-size: large;
  margin-bottom: 0;
  border-radius: 0;
}
#my_button{
margin-top: 5px;
background-color:#424254 ;
color:  #9999A3;
border: none;
font-size: large;
font-family: 'Poppins' 
}

#my_button2{
border-radius: 5px;
margin-top: 20px;
margin-right: 10px;
padding: 15px 32px;
margin-top: 5px;
background-color: #424254;
color: #9999A3;
border: none;
font-size: large;
font-family: 'Poppins' 
}
#my_button:hover, #my_a2:hover{
  color: white;
}

.my_link:hover{
  color: #CC2A41;
}

.post_button{
border-radius: 5px;
background-color: #424254;
color: #9999A3;
border: none;
font-size: medium;
font-family: 'Poppins';
margin-left: 1050px;

}

.img-thumbnail{
  height: 150px;
  width: 150px;
  float: bottom;
}
.my_title{
  color: #CC2A41;
  font-weight: bold;
  font-size: large;

}

.my_elem{
  color: #424254;
  font-size: medium;
  font-weight: normal;

}


.my_list{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}

.elem1{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

}
.elem2{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.elem3{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.elem4{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
<<<<<<< HEAD
.elem5{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
=======
>>>>>>> 28bd672568ea6e3a3b85dd3a9ebf5ef47adc9b97

#center{
background-image: none;
height: auto;
margin-left: 50px;
}

#my_center{

width: 1000px;
height: auto;
margin-top: 20px;



}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 600px}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}