#my_a2, .my_a, #book_link{
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;
  color: #424254;
}
#book_link{
  font-size: medium;
  font-weight: normal
}
#book_link:hover{
  color: #9999A3;
  cursor: pointer;
  

}
#my_a2{
  color: #9999A3;
}

.well{
  background-color: #F2E8C4;

}


body{ 
  background-color: #424254;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(#424254,#351330);
}
#navbar{
  background-color: #424254;
  border-color: #424254 ;
  font-size: large;
  margin-bottom: 0;
  border-radius: 0;
}
#my_button{
margin-top: 5px;
background-color:#424254 ;
color:  #9999A3;
border: none;
font-size: large;
font-family: 'Poppins' 
}

#my_button2{
border-radius: 5px;
margin-top: 20px;
margin-right: 10px;
padding: 15px 32px;
margin-top: 5px;
background-color: #424254;
color: #9999A3;
border: none;
font-size: large;
font-family: 'Poppins' 
}
#my_button:hover, #my_a2:hover{
  color: white;
}
.post_button{
border-radius: 5px;
background-color: #424254;
color: #9999A3;
border: none;
font-size: medium;
font-family: 'Poppins';
margin-left: 1050px;

}

.img-thumbnail{
  height: 150px;
  width: 150px;
}
.my_title{
  color: #CC2A41;
  font-weight: bold;
  font-size: large;

}

.my_elem, .my_elem_title{
  color: #424254;
  font-size: medium;
  font-weight: normal;
}

.my_elem_title{
  font-weight: bold;
}



#center{
background-image: none;
height: auto;
margin-left: 50px;
}

#my_center{

width: 1000px;
height: auto;
margin-top: 20px;



}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 600px}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}