body{ 
   
    font-family: 'Poppins', sans-serif;
  }


  b{
    text-shadow: 1.2px 1.2px white;
    margin-bottom:30px; 
    font-weight:800; 
    font-size:xx-large;
    color: rgb(153, 153, 153) ;}
  
  
  #about_us_container{
    background-color: #424254 ;
    border-color: #424254 ;
    border-radius: 10px;
    position: left ;
    height:500px;
    width: 1200px;
    overflow: hidden;
    margin-top: 10px;
  
  }
  .glyphicon-star{
    color: rgb(153,153,153);
    
  }
  #star1, #star2{
    margin-left: 250px;
  }
  .banner-sec{
    background-image: url("sfondo_home.JPG");
    background-position: left; 
    background-size:cover; 
    background-repeat: repeat-y;
    min-height:500px;
    border-radius: 0 10px 10px 0;
    padding:10px;
    
    }
  #about_us_msg{
    color: rgb(153, 153, 153);;
    font-size: xx-large;
    opacity: 1;
  }
  
  #about_us_desc{
    color: rgb(153, 153, 153);;
    font-size: large;
    text-align: justify;
    
  }
  
#btn_div{
    text-align: center; }
    
#btn_ref{
    color:#424254;
    font-size: large;
    text-decoration: none;
}


#navbar{
    background-color: #424254;
    border-color: #424254 ;
    font-size: large;
    margin-bottom: 0;
    border-radius: 0;
  }
  #my_button{
  margin-top: 5px;
  background-color: #424254;;
  color: #9999A3;
  border: none;
  font-size: large;
  font-family: 'Poppins' }

  #my_button:hover{
      color: white;
  }

  .my_a{
    font-family: 'Poppins';
    font-size: large;
    text-decoration: none;
    color: #424254;
  }

  #sign_in_btn{
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
    width: 180px;
    border: none;
    color: #424254;
    text-align: center;
    font-weight:600;
    font-size: 20px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    outline-color:#424254;
  }
  
  #sign_in_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    outline-color:#424254;
  }
  
  #sign_in_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    outline-color:#424254;
    color: white;
  }
  
  #sign_in_btn:hover span {
    padding-right: 25px;
    outline-color:#424254;
    color: white;
   
  }
  
  #sign_in_btn:hover span:after {
    opacity: 1;
    right: 0;
    outline-color:#424254;
    color: white;
  }
  
  /*Background animation */

body{position:relative}
#e_background{
  background:#000 url(sky.jpg) repeat 5% 5%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-100;
  -webkit-animation:stars-anim 600s infinite linear;
  -moz-animation:stars-anim 600s infinite linear;
  -o-animation:stars-anim 600s infinite linear;
  animation:stars-anim 600s infinite linear}

    #e_moon{
      background:url(e_moon.png) no-repeat 35% 35%;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:1;z-index:-25;
      -webkit-animation:moon-anim 100s infinite linear;
      -moz-animation:moon-anim 100s infinite linear;
      -o-animation:moon-anim 100s infinite linear;
      animation:moon-anim 100s infinite linear}
      
      @media only screen and (max-width:480px){
        #e_moon{background:url(e_moon.png) no-repeat 35% 35%}}
        
        @media only screen and (min-width:481px) and (max-width:767px){
          #e_moon{background:url(e_moon.png) no-repeat 35% 35%}
        }

        @-webkit-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-moz-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-o-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-webkit-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-moz-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-o-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-webkit-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-moz-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-o-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}