body{ 
  background-color: #F2E8C4;
  font-family: 'Poppins', sans-serif;
  color: #424254;
}

#navbar{
background-color: #424254;
border-color: #424254 ;
font-size: large;  
}

h1{
margin-left: 1%;
}

.container{
margin-left:1%;
width: 90%;
height: 90%;
}

#header{
margin-top: 1%;
font-size: large;
}

.search-container {
margin-left: 15px;
}

#search_music_name{
border-radius: 30px 0px 0px 30px;
/*border-radius: Top-left, Top-right, Bottom-right, Bottom-left;*/
}

#p_advanced_search{
  font-size: medium;
}

input{
font-size: large;
text-align: center;
border-radius: 30px 30px 30px 30px;
outline-color: blueviolet;
}
.search-btn {
border-radius: 0px 30px 30px 0px;
font-size: large;
background-color: white;
}

hr { 
  border-color: #424254;
  margin-top: 1.5rem;
  margin-bottom: 0.5em;
  margin-left: 1%;
  margin-right: 50%;
  border-width: 1px;
} 

.row{
  margin-bottom: 10px;
}

select{
  border-radius: 10px;
}

#menu_music{
margin-top: 2%;
margin-left:3%;
font-size: large;
text-align: center;
float: left;
max-width: 400px;
}


#spotify_login_button{
  border-radius: 20px;
  text-align: center;
  font-size: medium;
  background-color: #98D9B6;
}
/**/
.button1 {
  background-color: #F2E8C4; 
  color: #424254; 
  border: 2px solid #424254;
  margin-top: 3%;
  margin-left:2.5%;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.button1:hover {
  background-color: #424254;
  color: #F2E8C4;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\02c6';
  position: absolute;
  opacity: 0;
  top: -10px;
  left: 0px;
  transition: 0s;
}

.button1:hover span {
  padding-top: 12px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.button1:active {
  opacity: 1;
  background: #E8CAA4;
  color: #424254;
  transition: 0s;
}
/**/
/**/

#select-btn {
margin-left:0%;
margin-bottom: 5px;
font-size: large;
background-color: #F2E8C4;
border: 2px solid #424254;
border-radius: 20px;
outline: none;
}

#select-btn:disabled {
  background-color: #424254;
  opacity: 0.5;
  color: #F2E8C4;
}
#select-btn:hover {
  background-color: #424254;
  color: #F2E8C4;
}
#select-btn:active:enabled{
  margin-left:0%;
  font-size: large;
  background-color: #F2E8C4;
  border: 2px solid #424254;
  border-radius: 20px;
}

/**/
#select-p{
margin-top: 5%;
margin-left:0%;
}

#right-column{  
margin-top: 2.5%;
min-width: 50rem;
}



/* Left column*/

#left-columm{
/*min-width: 50rem;*/
width:auto;
}

#photo_music{
width: 40%;
height: 40%;
float: left;
margin-right: 20%;
}

h4{
margin-top:0%;
font-size: large;
}

#info{
width: auto;
height: 38%;
}

#music_container{
margin-left:-3%;
margin-top:5%;
width: auto;
height: 40;
}

#add-btn{
position: absolute;
left: 80%;
top: 110%;
margin-bottom: 2%;
}

#add-btn:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.col-25[name="sx"]{
float:left;
width:235px;
}

.col-25[name="dx"]{
width:268px;
}

#search_music_name_msg, #filters_msg_cuisine, #filters_msg_category{
color: red;
}

table, td,th{
font-weight: normal;
width:39%;
border: 1px solid #424254;
border-collapse: collapse;
text-align: center;
}
