body{ 
  background-color: #424254;
  font-family: 'Poppins', sans-serif;
}
#navbar{
  background-color: #424254;
  border-color: #424254 ;
  font-size: x-large;
}

.login-block{
padding : 50px 0;
margin-left: auto;
}

.banner-sec{
background-image:url(https://media.giphy.com/media/l0ErBTXlQuex3T6NO/giphy.gif) ;
background-position: center; 
/*background-size:cover; */
background-repeat: no-repeat;
min-height:500px;
border-radius: 0 10px 10px 0;
padding:10px;
margin-top: 150px;
}

.container{

background-image: linear-gradient(#F2E8C4, #E8CAA4 );
border-radius: 10px;
box-shadow:15px 20px 0px rgba(0,0,0,0.1);}


.login-sec{
padding: 50px 30px; 
position:left;
}

.login-sec h3{
margin-bottom:30px;
font-weight:800; 
font-size:x-large;
color: #424254;}

.login-sec h3:after{
content:" ";
width:100px;
height:5px;
background:#40408b;
display:block; 
margin-top:20px; 
border-radius:3px;
margin-left:auto;
margin-right:auto}

.btn-login{
background: #424254; 
color:#fff; 
font-weight:600;
font-size: large;}
#surname,#name, #email, #password, #password2, #username{
color: black;
opacity:1;
font-weight: bold;

}

#passwordHelpBlock{
color: black;
opacity:1;
font-size: small;
}









