body{ 
    background: url("sfondo_home.JPG")  repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
  }
#navbar{
    background-color: #424254;
    border-color: #424254 ;
    font-size: large;
    margin: 0px;
}

#welcome_container{
    background-color: #424254 ;
    border-color: #424254 ;
    border-radius: 10px;
    position: center absolute;
    margin-top:200px;
    height: 300px;
    width: 600px;
    overflow: hidden;
}

#welcome_msg{
    color: #F2E8C4;
    font-size: xx-large;
    opacity: 1;
}

#welcome_desc{
    color:#F2E8C4;
    font-size: large;
    text-align: justify;
    
}

#btn_div{
    text-align: center; }
    
#btn_ref{
    color:#424254;
    font-size: large;
    text-decoration: none;
}


