body{ 
    background-color: #424254;
    font-family: 'Poppins', sans-serif;
  }
#navbar{
    background-color: #424254;
    border-color: #424254 ;
    font-size: large;
}

#my_button{
  margin-top: 5px;
  background-color: #424254;
  color: #9999A3;
  border: none;
  font-size: large;
  font-family: 'Poppins' }
a, span{
  font-family: 'Poppins';
  font-size: large;
}

#my_a{
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;
  color: #424254;
}
