<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Just a perfect night - Final Step</title>

    <!--Poppins font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- my css file-->
    <link rel="stylesheet" href="css_final_step.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--My script-->
    <script src="finalStep.js"></script>
  </head>
  <body>
    <div id="e_background">
      <div id="e_smallstars"></div>
      <div id="e_moon"></div>
    </div>

    <section class="create-block">
      <div class="container">
        <div class="row">
            <h1>Complete the creation of your night!</h1>

        </div>
        <div class="row">
          <button
            type="button"
            class="button"
            id="submit"
            onclick="downloasAsPDF()"
          >
            <span id="btn_span">Download as pdf</span>
          </button>
        </div>

        <div class="row">
          <button
            type="button"
            class="button"
            id="submit"
            onclick="post_tweet()"
          >
            <span id="btn_span">Tweet</span>
          </button>
        </div>
        <div class="row">
          <button type="button" class="button" id="submit" href="Feed.html">
            <span id="btn_span">Back to the feed</span>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
