<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">


      <title>Just a perfect night - Add Element</title>
      
      <!--Poppins font-->
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

      <!-- my css file-->
      <link rel ="stylesheet" href = "css_new_night.css">
      
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
      
      <!--My script-->
      <script src="newNight.js"></script>
      <script src="profile.js"></script>
  </head>

  <body>
    <!--navbar-->
    <nav class="navbar navbar-inverse" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="Home_login.html">JustAPerfectNight</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="Home_login.html">Home</a></li>
          <li><a href="Feed.html">Feed</a></li>
          <li><a href="About_us.html">About us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle"  type="button" id="my_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-user"></span>
                User
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class="active"><a href="Profile.html" class="my_a">
                  <span class="glyphicon glyphicon-home"></span>
                  My profile
                  
                </a></li>
                <li><a href="Settings.html" class="my_a">
                  <span class="glyphicon glyphicon-cog" ></span>
                  Settings
                  
                </a></li>
                <li><a href="#" onclick="logout()" class="my_a">
                  <span class="glyphicon glyphicon-log-out"></span>
                  Log-out
                  </a></li>
              </ul>
            </div>
          </li>         
        </ul>
      </div>
    </nav>
    <!-- end navbar -->

    <!-- container background moon -->
    <div id="e_background">
      <div id="e_smallstars"></div>
      <div id="e_moon"></div>
    </div>

    <!-- new section-->
    <section class="create-block">
      <!-- container of 3 rows -->
      <div class="container">
        <div class="row">
            <h1>Create your Perfect Night!</h1>
            <h3>What kind of night do you want to create? </h3>
        </div>
        <!-- this div .row contain Solo-Night button -->
        <div class="row">
          <button class="button button1" onclick="inizializzaStoragePerfectNight_Solo();"><span>Solo-Night </span></button>
        </div>
        <!-- this div .row contain In Company button -->
        <div class="row">
          <button class="button button2" onclick="inizializzaStoragePerfectNight_Company();"><span>In company </span></button>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- end section -->
  </body>
</html>