<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Just a perfect night - Post</title>
        
        <!--Poppins font-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        
        <!-- my css file-->
        <link rel ="stylesheet" href = "css_post.css">
       
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!--My script-->
        <script src="post.js"></script>

</head>
<body>
    <button type="button" id="my_button2" >
      <a href= 'Feed.html' id="my_a2">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back to the feed!
    </a>
    </button>
    </div>
    <div class="col-sm-11 text-left" id="center"> 
      <!--codice post qui-->
      <div id="posts" class = "well">
        <p class="my_title"> Description :
          <span id="desc" class = "my_elem"></span>
        </p>

        <p class="my_title"> Tag :
          <span id="tag" class = "my_elem"></span>
        </p>

        <p class="my_title"> Meal :
          <div>
            <div class="row">

              <div class="col-md-5" id="col-sx-meal">
                <!--<img id = "meal_img "class="img-thumbnail"> </img> -->

              </div>

              <div class="col-md-5">
                <p class = "my_elem_title">Name: 
                  <span id="meal_name" class = "my_elem"></span>
                </p>
                <p  class = "my_elem_title">Ready in:
                  <span id="meal_ready" class = "my_elem"></span>
                 </p>
                <p class = "my_elem_title">Servings: 
                  <span  id="meal_servings" class = "my_elem"></span>
                </p>
              </div>
          </div>
        </p>

        <p class="my_title"> Cocktail :
          <div>
            <div class="row">
              
              <div class="col-md-5" id="col-sx-cocktail">
                
              </div>

              <div class="col-md-5">
                <p class = "my_elem_title">Name: 
                  <span id="cocktail_name" class = "my_elem"></span>
                </p>
                <p  class = "my_elem_title">Category:
                  <span id="cocktail_category" class = "my_elem"></span>
                 </p>
                <p class = "my_elem_title">Ingredients: 
                  <span  id="cocktail_ingredients" class = "my_elem"></span>
                </p>
                <p class = "my_elem_title">Instructions: 
                  <span  id="cocktail_instructions" class = "my_elem"></span>
                </p>
              </div>
          </div>
        </p>

        <p class="my_title"> Boardgame :
          <div>
            <div class="row">
              
              <div class="col-md-5" id="col-sx-board_game">
                
              </div>

              <div class="col-md-5">
                <p class = "my_elem_title">Name: 
                  <span id="bg_name" class = "my_elem"></span>
                </p>
                <p  class = "my_elem_title">Min playtime:
                  <span id="bg_mint" class = "my_elem"></span>
                 </p>
                <p class = "my_elem_title">Max playtime: 
                  <span  id="bg_maxt" class = "my_elem"></span>
                </p>
                <p  class = "my_elem_title">Min players:
                  <span id="bg_minp" class = "my_elem"></span>
                 </p>
                <p class = "my_elem_title">Max players: 
                  <span  id="bg_maxp" class = "my_elem"></span>
                </p>
                <p class = "my_elem_title">Min age: 
                  <span  id="bg_mina" class = "my_elem"></span>
                </p>
                <p  class = "my_elem_title">Description:
                  <span id="bg_desc" class = "my_elem"></span>
                 </p>
                <p class = "my_elem_title">Average rating: 
                  <span  id="bg_rating" class = "my_elem"></span>
                </p>




              </div>
          </div>
        </p>


      </div>

      


    </div>

  </body>
</html>
