<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Just a perfect night - Add Element</title>

    <!--Poppins & Baloo fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

    <!-- my css file-->
    <link rel="stylesheet" href="css_recap_solo.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- My script-->
    <script src="recapSolo.js"></script>
  </head>

  <!-- onload attribute is used to execute a script once this web page has completely loaded all content -->
  <body onload="CheckStorage();">
    <!--navbar-->
    <nav class="navbar navbar-inverse" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="Home_login.html">JustAPerfectNight</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="Home_login.html">Home</a></li>
          <li><a href="Feed.html">Feed</a></li>
          <li><a href="About_us.html">About us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <div class="dropdown">
              <button
                class="btn btn-default dropdown-toggle"
                type="button"
                id="my_button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                <span class="glyphicon glyphicon-user"></span>
                User
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class="active">
                  <a href="Profile.html" class="my_a">
                    <span class="glyphicon glyphicon-home"></span>
                    My profile
                  </a>
                </li>
                <li>
                  <a href="Settings.html" class="my_a">
                    <span class="glyphicon glyphicon-cog"></span>
                    Settings
                  </a>
                </li>
                <li>
                  <a href="#" onclick="logout()" class="my_a">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Log-out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!--end navbar-->

    <!-- container background moon -->
    <div id="e_background">
      <div id="e_smallstars"></div>
      <div id="e_moon"></div>
    </div>

    <!-- cards -->

    <!-- "What" string top/center page -->
    <h1 id="what">This is the night you created:</h1>
    <!-- div #deck to contain cards -->
    <div class="container-fluid" id="deck">
      <!-- creating card -->
      <div class="col-sm-4">
        <div class="card" id="cocktail_card"> 
          <h1 class="card-title" id="cocktail">Cocktail</h1> 
        </div>
        <!-- end card container -->
      </div>
      <!-- end card -->
      <!-- new card -->
      <div class="col-sm-4">
        <div class="card" id="book_card"> 
          <h1 class="card-title" id="book">Book</h1> 
        </div>
      </div>
      <!-- end card -->
      <!-- new card -->
      <div class="col-sm-4">
        <div class="card" id="movie_card"> 
          <h1 class="card-title" id="movie">Movie</h1> 
        </div>
      </div>
      <!-- end card -->
      <!-- new card -->
      <div class="col-sm-4">
        <div class="card" id="beer_card"> 
          <h1 class="card-title" id="beer">Beer</h1> 
        </div>
      </div>
      <!-- end card -->
      <!-- new card -->
      <div class="col-sm-4">
        <div class="card" id="recipe_card"> 
          <h1 class="card-title" id="meal">Meal</h1> 
        </div>
      </div>
      <!-- end card -->
      <!-- new card -->
      <div class="col-sm-4">
        <div class="card" id="music_card"> 
          <h1 class="card-title" id="music">Music</h1> 
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end deck-->

    <!-- container for elements below deck cards -->
    <div class="container">
      <!-- new row -->
      <div class="row">
        <!-- Category & Description change dynamically on load  -->
        <h3 class="category">Category:</h3>
        <p class="paragraph_category">Here the category of the night.</p>
        <h3 class="description">Description:</h3>
        <p class="paragraph_description">Here the description of the night.</p>
      </div>
      <!-- end row -->

      <!-- new row -->
      <div class="row">
        <div class="col-md-6">
          <!-- change night button -->
          <button class="button button1" onclick="window.location.href='addElementSolo.html';">
            <span>Change</span>
          </button>
        </div>
        <div class="col-md-6">
          <!-- create night button -->
          <button class="button button2" onclick="CreateNight();">
            <span>Create night! </span>
          </button>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </body>
</html>
