<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <title>Just a perfect night - Home</title>
        
        <!--Poppins font-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
       
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <!-- my css file-->
        <link rel ="stylesheet" href = "css_home.css">
       
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        

    </head>
    <body>
        
        <nav class="navbar navbar-inverse" id="navbar">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="Home.html">JustAPerfectNight</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="Home.html">Home</a></li>
                <li><a href="About_us.html">About us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="Sign_up.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="Sign_in.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </nav>

          <div class="container" id= "welcome_container">
              <div>
              <p id= "welcome_msg">
                  <b>Welcome!</b>
                <p id="welcome_desc">
                    Plan the finest event on the block (or the whole world, if you don't mind being a little
                     pretentious)! Use JustAPerfectNight to decide every small particular of your late-hours
                      event, may it be a cheesy romantic dinner, an all-night-long-loud-music party, 
                      or just a night to relax with a good book in front of a fire and a fine cocktail.
                     In Perfect Nights you are the boss!   
                </p>
              </p>
              <br>
              <div id="btn_div">
                <button type="button" class="btn" id="sign_in_btn">
                    <a href="Sign_up.html" id="btn_ref">
                      <span> Start planning!</span>
                    </a>
                     
                </button>
              </div>

              

            </div>

          </div>
          
        
    </body>
</html>
