.my_a{
    font-family: 'Poppins';
    font-size: large;
    text-decoration: none;
    color: #424254;
  }  
    
  body{ 
    background-color: #424254;
    font-family: 'Poppins', sans-serif;
  }
  #navbar{
    background-color: #424254;
    border-color: #424254 ;
    font-size: large;
    /*margin-bottom: 0;
    border-radius: 0;*/
  }
  #my_button{
    margin-top: 5px;
    background-color: black;
    color: white;
    border: none;
    font-size: large;
    font-family: 'Poppins';
  }
  #what{
    font-size: 70px;
    text-align: center;
    font-family: 'Baloo';
      margin-left: 1%;
      text-shadow: 3px 3px  rgb(153, 153, 153) ;
      margin-bottom:30px; 
      color:  white; 
  }
    
  .card{
    font-family: 'Baloo';
    background-size: contain;
    background-position: center;	
    /*background-repeat: no-repeat;*/
    min-height: 280px;
    min-width:300px;
    height: 280px;
    
    width: 300px;
    border-radius: 30px;  
  
    margin: auto;
    /*border: 3px solid green;*/
  }
  
  .card h1{
    text-align: center;
    font-size: 38;
    padding: 40% 0;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 5px 0 black, 0 -1px black;
  }
  
  .card a{
    text-decoration: none;
  }
  
  #cocktail_card{
      background-image: url("cocktail.jpg");
  }
  /*#cocktail_card{
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("cocktail.jpg");
    opacity: .5;
  } */
  
  #book_card{
    background-image:url(book.jpg) ;
  }  
  #movie_card{
    background-image:url(ciak.jpg) ;
  }  
  #beer_card{
    background-image:url(beer.jpg) ;
  }  
  #recipe_card{
    background-image:url(recipe.jpg) ;
  }  
  #music_card{
    background-image:url(music.jpg) ;
  }  
  
  
  .col-sm-4{
    margin-top: 10px;
    min-width: 350px;
    height: auto;
  }
  
  #deck{
    /*margin-top: -1%;
    height: 90%;
    width : 90%;*/
  
    margin: auto;
    width: 90%;
    /*border: 3px solid green;*/
    padding: 30px;
      
  }
  
  /***351330*/
  /***351330*/


.button1 {
  float: left;
}



.button2 {
  float: right;
}

.button {
border-radius: 20px;



text-align: center;
font-size: 28px;
padding: 30px;
width: 300px;
transition: all 0.5s;
cursor: pointer;
margin-bottom: 20px;
margin-top:70px;
outline: none;
/*margin-left: 40rem;*/
background-color:#424254; ; /* #351330; /* #F2E8C4; */
color: rgb(153, 153, 153); /* #fff; /*#424254;*/ 
border: 2px solid rgb(153, 153, 153); /*#424254;*/

}


.button:hover {
  color: #424254; 
  background-color:rgb(153, 153, 153);
  border: 2px solid  #424254;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}


.button:active {
opacity: 1;
color: rgb(153, 153, 153);
background-color: #424254;
transition: 0s;
}

  .container{
      text-align: center;
      color:  rgb(153, 153, 153);
  }
  .container p{
      font-size: large;
  }

  *Background animation */

body{position:relative}
#e_background{
  background:#000 url(sky.jpg) repeat 5% 5%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-100;
  -webkit-animation:stars-anim 600s infinite linear;
  -moz-animation:stars-anim 600s infinite linear;
  -o-animation:stars-anim 600s infinite linear;
  animation:stars-anim 600s infinite linear}

    #e_moon{
      background:url(e_moon.png) no-repeat 35% 35%;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:1;z-index:-25;
      -webkit-animation:moon-anim 100s infinite linear;
      -moz-animation:moon-anim 100s infinite linear;
      -o-animation:moon-anim 100s infinite linear;
      animation:moon-anim 100s infinite linear}
      
      @media only screen and (max-width:480px){
        #e_moon{background:url(e_moon.png) no-repeat 35% 35%}}
        
        @media only screen and (min-width:481px) and (max-width:767px){
          #e_moon{background:url(e_moon.png) no-repeat 35% 35%}
        }

        @-webkit-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-moz-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-o-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-webkit-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-moz-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-o-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-webkit-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-moz-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-o-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}