.my_a{
    font-family: 'Poppins';
    font-size: large;
    text-decoration: none;
    color: #424254;
}
  
  
body{ 
    background-color: #424254;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    background-color: #424254;
    border-color: #424254 ;
    font-size: large;
    margin-bottom: 0;
    border-radius: 0;
}
#my_button{
    margin-top: 5px;
    background-color: black;
    color: white;
    border: none;
    font-size: large;
    font-family: 'Poppins';
}

.create-block{
    padding : 50px 0;
    margin-left: auto;
}

.container{
    background-image: linear-gradient(#F2E8C4, #E8CAA4 );
    border-radius: 10px;
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    width: 50%;
    text-align: center;
}
  
.button {
    border-radius: 20px;
    background-color: #F2E8C4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top:70px;
    outline: none;
}

.button1 {
    background-color: #F2E8C4; 
    color: #424254; 
    border: 2px solid #424254;
}
  
.button1:hover {
    background-color: #424254;
    color: white;
}
  
.button2 {
    background-color: #F2E8C4; 
    color: #424254; 
    border: 2px solid #424254;
    margin-bottom: 30px;
}
  
.button2:hover {
    background-color: #424254;
    color: white;
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}



.button:active {
    opacity: 1;
    background: #E8CAA4;
    color: #424254;
    transition: 0s;
}