/*body{ 
    background-color: #351330;
    font-family: 'Poppins', sans-serif;
    color: rgb(197, 103, 221);
}*/
body{ 
  background-color: #F2E8C4;
  font-family: 'Poppins', sans-serif;
  color: #424254;
}
#main{

  background-image: linear-gradient(white, gray);
  border-radius: 10px;
  margin-left: 50px;
  } 
  

/*input, button{
  outline: none;
}*/

#navbar{
  background-color: #424254;
  border-color: #424254 ;
  font-size: large;  
}
  
h1{
  margin-left: 1%;
  font-size: xx-large;
}

.container{
  margin-left:1%;
  width: 90%;
  height: 90%;
}

h2, h3{
  font-size: x-large;
}

#header, #header_radio{
  margin-top: 1%;
  font-size: large;
}

.search-container {
  margin-left: 15px;
}

#search_cocktail_name, #search_cocktail_radio{
  border-radius: 30px 0px 0px 30px;
  /*border-radius: Top-left, Top-right, Bottom-right, Bottom-left;*/
}

input{
  font-size: large;
  text-align: center;
  outline-color: blueviolet;
  border-radius: 30px 30px 30px 30px;
}
.search-btn {
  border-radius: 0px 30px 30px 0px;
  font-size: large;
  background-color: white;
 }

 hr { 
  border-color: #424254;
  margin-top: 1.5rem;
  margin-bottom: 0.5em;
  margin-left: 1%;
  margin-right: 50%;
  border-width: 1px;
} 

select{
  border-radius: 10px;
}

#menu_cocktail{
  margin-top: 2%;
  margin-left:3%;
  font-size: large;
  text-align: center;
  float: left;
}

/*#surprise{
  margin-top: 5%;
  margin-left:1%;
  text-align: center;
  font-size: small;
  border-radius: 30px 30px 30px 30px;
  padding: 5px 20px;
  outline: none;
}*/

/*#select-btn {
  margin-left:0%;
  font-size: large;
  background-color: white;
}*/
/**/

#select-btn {
  margin-left:0%;
  margin-bottom: 5px;
  font-size: large;
  background-color: #424254;
  border: 2px solid #424254;
  border-radius: 20px;
  outline: none;
  color:rgb(153, 153, 153);
}

#select-btn:disabled {
    background-color: #424254;
    opacity: 0.5;
    color:rgb(153, 153, 153);
}
#select-btn:hover {
    background-color: rgb(153, 153, 153);
    color:#424254;
}
#select-btn:active:enabled{
    margin-left:0%;
    font-size: large;
    background-color: #424254;
    border: 2px solid #424254;
    border-radius: 20px;
  }
  
/**/

#select-p{
  margin-top: 5%;
  margin-left:0%;
}

#right-column{  
  margin-top: 2.5%;
  min-width: 50rem;
}

#left-columm{
  /*min-width: 50rem;*/
  width:auto;
}

#photo_cocktail{
  width: 40%;
  height: 40%;
  float: left;
  margin-right: 20%;
}

h4{
  margin-top:0%;
  font-size: large;
}

#info{
  width: auto;
  height: 38%;
}

#recipe_container{
  margin-left:-3%;
  margin-top:5%;
  width: auto;
  height: 40;
}

#add-btn{
  position:absolute;
  left: 60%;
  top: 110%;
  margin-bottom: 2%;
  background-color: #424254;
  color:  rgb(153, 153, 153);
}

#add-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:  rgb(153, 153, 153);
  color:  #424254 ;
}


.col-25[name="sx"]{
  float:left;
  width:235px;
}

.col-25[name="dx"]{
  width:268px;
}

#search_cocktail_name_msg, #search_cocktail_radio_msg{
  color: red;
}

table, td,th{
  font-weight: normal;
  width:39%;
  border: 1px solid #424254; /*rgb(197, 103, 221);*/
  border-collapse: collapse;
  text-align: center;
}

/**/
.button1 {
  background-color: #424254; 
  color: rgb(153, 153, 153); 
  border: 2px solid #424254;
  margin-top: 3%;
  margin-left:2.5%;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.button1:hover {
  background-color: rgb(153, 153, 153);
  color: #424254;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\02c6';
  position: absolute;
  opacity: 0;
  top: -10px;
  left: 0px;
  transition: 0s;
}

.button1:hover span {
  padding-top: 12px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.button1:active {
  opacity: 1;
  background: #424254;
  color:rgb(153, 153, 153);
  transition: 0s;
}
/**/

/*Background animation */

body{position:relative}
#e_background{
  background:#000 url(sky.jpg) repeat 5% 5%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-100;
  -webkit-animation:stars-anim 600s infinite linear;
  -moz-animation:stars-anim 600s infinite linear;
  -o-animation:stars-anim 600s infinite linear;
  animation:stars-anim 600s infinite linear}

    #e_moon{
      background:url(e_moon.png) no-repeat 35% 35%;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:1;z-index:-25;
      -webkit-animation:moon-anim 100s infinite linear;
      -moz-animation:moon-anim 100s infinite linear;
      -o-animation:moon-anim 100s infinite linear;
      animation:moon-anim 100s infinite linear}
      
      @media only screen and (max-width:480px){
        #e_moon{background:url(e_moon.png) no-repeat 35% 35%}}
        
        @media only screen and (min-width:481px) and (max-width:767px){
          #e_moon{background:url(e_moon.png) no-repeat 35% 35%}
        }

        @-webkit-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-moz-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-o-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-webkit-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-moz-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-o-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-webkit-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-moz-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-o-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}