#my_a2, .my_a, .my_link{
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;
  color: #424254;
}

.my_link{
  color: rgb(153, 153, 153);
  text-decoration: none;

}

#my_a2{
  color: #9999A3;
}
.upvotedAndSaved, .upvotedAndSaved:hover{
  color: white;
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;

}
.my_link{
  cursor: pointer;
  margin-right: 10px;
}


.well{
  background-color:#424254;
  background-image: linear-gradient( #424254, #40408b );
  border: none;
  margin-top : 10px;
  height: auto;
  width: auto;
  
}


#navbar{
  background-color: #424254;
  border-color: #424254 ;
  font-size: large;
  margin-bottom: 0;
  border-radius: 0;
}
#my_button{
margin-top: 5px;
background-color:#424254 ;
color:  #9999A3;
border: none;
font-size: large;
font-family: 'Poppins' 
}

#my_button2{
  border-radius: 10px;
  background-color: #424254;
  width: 400px;
  border: none;
  color: #424254;
  text-align: center;
  font-weight:600;
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  outline-color:#424254;
  font-size: large;
  font-family: 'Poppins';
  margin-top: 20px;
  margin-left: 10px;
  padding: 15px 32px;


}

#my_button2 a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  outline-color:#424254;
}

#my_button2 a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  outline-color:#424254;
  color: white;
}

#my_button2:hover a {
  padding-right: 25px;
  outline-color:#424254;
  color: white;
 
}

#my_button2:hover a:after {
  opacity: 1;
  right: 0;
  outline-color:#424254;
  color: white;
}
#my_button:hover, #my_a2:hover{
  color: white;
}



.post_button{
    background-color: #424254;
    width: 150px;
    border: none;
    color: rgb(153, 153, 153);
    text-align: center;
    font-weight:600;
    font-size: 20px;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    outline-color:#424254;
    font-size: large;
    font-family: 'Poppins';
    margin-right: 10px;
    border-radius: 5px;
    
}

.post_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  outline-color:#424254;
}

.post_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  outline-color:#424254;
  color: white;
}

.post_button:hover span {
  padding-right: 25px;
  outline-color:#424254;
  color: white;
 
}

.post_button:hover span:after {
  opacity: 1;
  right: 0;
  outline-color:#424254;
  color: white;
}



.my_link:hover{
  color:white;
}


.post_button{
  border-radius: 5px;
  background-color: #424254;
  color: #9999A3;
  border: none;
  font-size: medium;
  font-family: 'Poppins';
  margin-left: 860px;
  
  }

.img-thumbnail{
  height: 180px;
  width: 150px;
  float: bottom;
}
.my_title{
  color:white;
  font-weight: bold;
  font-size: large;

}

.my_elem{
  color: rgb(153, 153, 153);
  font-size: medium;
  font-weight: normal;

}


.my_list{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}

.elem1{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

}

.elem2{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.elem3{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.elem4{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.elem5{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.elem6{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
.elem7{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

#center{
background-image: none;
height: auto;
margin-left: 50px;
}

#my_center{

width: 1000px;
height: auto;
margin-top: 20px;



}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 600px}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

/*Background animation */

body{position:relative}
#e_background{
  background:#000 url(sky.jpg) repeat 5% 5%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-100;
  -webkit-animation:stars-anim 600s infinite linear;
  -moz-animation:stars-anim 600s infinite linear;
  -o-animation:stars-anim 600s infinite linear;
  animation:stars-anim 600s infinite linear}

    #e_moon{
      background:url(e_moon.png) no-repeat 35% 35%;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:1;z-index:-25;
      -webkit-animation:moon-anim 100s infinite linear;
      -moz-animation:moon-anim 100s infinite linear;
      -o-animation:moon-anim 100s infinite linear;
      animation:moon-anim 100s infinite linear}
      
      @media only screen and (max-width:480px){
        #e_moon{background:url(e_moon.png) no-repeat 35% 35%}}
        
        @media only screen and (min-width:481px) and (max-width:767px){
          #e_moon{background:url(e_moon.png) no-repeat 35% 35%}
        }

        @-webkit-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-moz-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-o-keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @keyframes moon-anim{from{background-position:0 2%}to{background-position:110% 2%}}
        @-webkit-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-moz-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-o-keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @keyframes stars-anim{from{background-position:5% 600%}to{background-position:1300% 5%}}
        @-webkit-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-moz-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @-o-keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}
        @keyframes light{0%{opacity:.1}25%{opacity:.35}50%{opacity:.95}100%{opacity:.2}}